# Code 1
- Build Basic Pipeline
- DataFrame Checks
- Group By
- If Then Model
- First Submission
- Import & Export

## 1/ Import Libraries
- Mount Google Drive
- Import Pandas Library

In [1]:
#CodeSection1
from google.colab import drive
drive.mount('/mntDrive')

Mounted at /mntDrive

In [2]:
#CodeSection2
import pandas as pd

## 2/ Import Data
- Import Train and Test [use read_csv()]

In [ ]:
/mntDrive/MyDrive/Project MasterMind/1 - Planning Stage/2- Research/6- New Teaching Method/Loan Prediction (Webinar Flow)/Solution Codes/input/

In [4]:
#CodeSection3
train = pd.read_csv("/mntDrive/MyDrive/__Data_Science/2 Cross Sell Prediction/input/train.csv")
test = pd.read_csv("/mntDrive/MyDrive/__Data_Science/2 Cross Sell Prediction/input/test.csv")

### Check Train Data
- Check first 5 rows of train [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [5]:
#CodeSection4
train.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1    Male   44  ...                  26.0      217         1
1   2    Male   76  ...                  26.0      183         0
2   3    Male   47  ...                  26.0       27         1
3   4    Male   21  ...                 152.0      203         0
4   5  Female   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [6]:
#CodeSection5
test.head()

       id Gender  Age  ...  Annual_Premium  Policy_Sales_Channel  Vintage
0  381110   Male   25  ...         35786.0                 152.0       53
1  381111   Male   40  ...         33762.0                   7.0      111
2  381112   Male   47  ...         40050.0                 124.0      199
3  381113   Male   24  ...         37356.0                 152.0      187
4  381114   Male   27  ...         59097.0                 152.0      297

[5 rows x 11 columns]

In [ ]:
#CodeSection6
# Convert/Map Load_Status (Y/N) to  (1/0)
# Only do this step if you have non-numerical label in the "y" variable
<Write your code here>

In [ ]:
#CodeSection7
<Write your code here>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

### Check Test Data
- Check first 5 rows of test [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [7]:
#CodeSection8
test.head()

       id Gender  Age  ...  Annual_Premium  Policy_Sales_Channel  Vintage
0  381110   Male   25  ...         35786.0                 152.0       53
1  381111   Male   40  ...         33762.0                   7.0      111
2  381112   Male   47  ...         40050.0                 124.0      199
3  381113   Male   24  ...         37356.0                 152.0      187
4  381114   Male   27  ...         59097.0                 152.0      297

[5 rows x 11 columns]

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127037 entries, 0 to 127036
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    127037 non-null  int64
 1   Gender                127037 non-null  object
 2   Age                   127037 non-null  int64
 3   Driving_License       127037 non-null  int64
 4   Region_Code           127037 non-null  float64
 5   Previously_Insured    127037 non-null  int64
 6   Vehicle_Age           127037 non-null  object
 7   Vehicle_Damage        127037 non-null  object
 8   Annual_Premium        127037 non-null  float64
 9   Policy_Sales_Channel  127037 non-null  float64
 10  Vintage               127037 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 10.7+ MB

In [9]:
#CodeSection10
test.describe(include = 'all')

                   id  Gender  ...  Policy_Sales_Channel        Vintage
count   127037.000000  127037  ...         127037.000000  127037.000000
unique            NaN       2  ...                   NaN            NaN
top               NaN    Male  ...                   NaN            NaN
freq              NaN   68236  ...                   NaN            NaN
mean    444628.000000     NaN  ...            111.800468     154.318301
std      36672.567411     NaN  ...             54.371765      83.661588
min     381110.000000     NaN  ...              1.000000      10.000000
25%     412869.000000     NaN  ...             26.000000      82.000000
50%     444628.000000     NaN  ...            135.000000     154.000000
75%     476387.000000     NaN  ...            152.000000     227.000000
max     508146.000000     NaN  ...            163.000000     299.000000

[11 rows x 11 columns]

## 3/ Explore any one Valuable Variable 
- Identify all the Categorical Features
- Within them choose one feature that helps predict the dependent variable
- Use groupby along with sum() to get the "y" variable by the selected categoical feature
- Use value_counts() to get the total number of rows in each category

In [12]:
#CodeSection11
# We will use "Previously_Insured" for this example
# You can select any other variable of your choice
train.groupby('Previously_Insured').sum()

                             id      Age  ...   Vintage  Response
Previously_Insured                        ...
0                   39294656137  8766283  ...  31829500     46552
1                   33327569358  6029353  ...  26993682       158

[2 rows x 8 columns]

In [13]:
#CodeSection12
# Get count of rows based on each category in your selected Categorical Feature
train['Previously_Insured'].value_counts()

0    206481
1    174628
Name: Previously_Insured, dtype: int64

***Note : If the categorical feature has more than 2 values, choose the one with highest probability***

In [14]:
#CodeSection13
# Now the numbers to get the percentage of that category happening
print(f" Probability of previously insured customer's response = 1: {158/174628:0.1%}")
print(f" Probability of not previously insured customer's response = 1: {46552/206481:0.1%}")

 Probability of previously insured customer's response = 1: 0.1%
 Probability of not previously insured customer's response = 1: 22.5%

### Observation
- Not previously insured customers have a higher probability of getting a response = 1
- use a IF then statement to Predict the "y"/dependent variable
- Use apply(), lambda function on your selected categorical features

In [ ]:
#CodeSection14
<Write your code here>

## 4/ Check Accuracy of Model on Train Data
- Check using groupby() and sum() function

In [15]:
#CodeSection15
train['Prediction'] = train['Previously_Insured'].apply(lambda x : 1 if x == 0 else 0)
train.groupby('Previously_Insured').sum()

                             id      Age  ...  Response  Prediction
Previously_Insured                        ...
0                   39294656137  8766283  ...     46552      206481
1                   33327569358  6029353  ...       158           0

[2 rows x 9 columns]

### We can use a Accuracy Function from Metrics
- Use the sklearn.metrics library
- Within it we will choose the "accuracy_score" function
- We will compare the Actual "y" against the Predicted "y" using the IF THEN model

In [18]:
#CodeSection16
from sklearn.metrics import accuracy_score

In [19]:
#CodeSection17
y_actual = train['Response']
y_pred = train['Prediction']

In [20]:
#CodeSection18
print(f" Train Accuracy : {accuracy_score(y_actual, y_pred):0.1%}")

 Train Accuracy : 58.0%

***Q : What accuracy do you observe?***

## 5/ Prediction and Submission
- now lets predict using unseen (test dataset); note test dataset does not have "y" variable
- use apply() and lambda function combo again
- check the prediciton using groupby() and sum()

### Predict

In [21]:
#CodeSection19
test['Response_Pred'] = test['Previously_Insured'].apply(lambda x : 1 if x == 0 else 0)

In [22]:
#CodeSection20
test.groupby('Previously_Insured').sum()

                             id      Age  ...   Vintage  Response_Pred
Previously_Insured                        ...
0                   30499909574  2912062  ...  10590514          68595
1                   25984297662  2012642  ...   9013620              0

[2 rows x 8 columns]

In [ ]:
#CodeSection21
# We will use (Y/N) to match it to the Competition Submission Data
<Write your code here>

*Use **value_counts()** to check your prediction split*

In [23]:
#CodeSection21
test['Response_Pred'].value_counts()

1    68595
0    58442
Name: Response_Pred, dtype: int64

### Import Sample Submission
- Import the Submission file and check the first 5 rows
- Use read_csv() and head()

In [25]:
#CodeSection22
sample_submission = pd.read_csv("/mntDrive/MyDrive/__Data_Science/2 Cross Sell Prediction/input/sample_submission.csv")
sample_submission

            id  Response
0       381110         0
1       381111         0
2       381112         0
3       381113         0
4       381114         0
...        ...       ...
127032  508142         0
127033  508143         0
127034  508144         0
127035  508145         0
127036  508146         0

[127037 rows x 2 columns]

### Create a Submission
- Create a Dictionary to attach both the columns
- Convert the Dictionary to Pandas Dataframe [use DataFrame()]

In [26]:
#CodeSection23
submission = pd.DataFrame({
    'id' : test['id']   ,
    'Response' : test['Response_Pred']
})

### Export Submission File
- Export to output folder

In [29]:
#CodeSection24
# Ensure you don't export the index.
submission.to_csv('/mntDrive/MyDrive/__Data_Science/2 Cross Sell Prediction/O1_IF_THEN.csv', index = False)

In [ ]:
# LB Accuracy : <Write Leaderboard Score here>